@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode ter um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(222, 251, 179);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(2, 92, 2)
}

h1#principal {
    text-align: center;
    background-color: rgb(2, 92, 2);
    color: white;
    
}

h2 {
    color:rgb(1, 46, 1)
}

.basico { 
    color:rgb(144, 249, 69)

}

.intermediario {
    color:rgb(1, 46, 1)


}

.avancado { 
    color:rgb(2, 111, 2)

}

.destaque {
    background-color: rgba(155, 155, 81, 0.519);
}